body {
  background-color: darkslategray;
  color: white;
  font-family: 'Courier New', Courier, monospace;
}

.navbar{
  width: 350px;
  background-color: cadetblue;
  padding: 0 20px;
  text-align: center;
  /* position: absolute;
  left: 100px;
  top: 10px; */
}

.navbar a{
  color:white;
  margin: 10px;
}

.navbar a.active{
  color: chartreuse
}

.homepageNavBar{
  width: 350px;
  background-color: cadetblue;
  padding: 0 20px;
  text-align: center;
  /* position:absolute;
  left: 100px;
  top: 50px  */
}

.homepageNavBar a{
  color:white;
  margin: 10px;
}

