body {
  background-color: darkslategray;
  color: white;
  font-family: 'Courier New', Courier, monospace;
}

.navbar{
  width: 350px;
  background-color: cadetblue;
  padding: 0 20px;
  text-align: center;
}

.navbar a{
  color:white;
  margin: 10px;
}

.navbar a.active{
  color: chartreuse
}

