body {
  background-color: darkslategray;
  color: white;
  font-family: 'Courier New', Courier, monospace;
}

.navbar{
  width: 350px;
  background-color: cadetblue;
  padding: 0 20px;
  text-align: center;
}


